<section class="about-section" id="about">
  <div class="container about-container">
    <div class="about-content-wrap">
      <div class="about-text-wrap">
        <h2 class="about-title">Як працює</h2>
        <div class="about-slider-pagination">
          <!-- <div class="about-slider-pagination-item">
            <p class="about-slider-pagination-item-number">01</p>
            <p class="about-slider-pagination-item-title">Покупець бачить рекламу продукта на сайті торгової мережі</p>
          </div>
          <div class="about-slider-pagination-item">
            <p class="about-slider-pagination-item-number">02</p>
            <p class="about-slider-pagination-item-title">Вказує номер телефона</p>
          </div>
          <div class="about-slider-pagination-item">
            <p class="about-slider-pagination-item-number">03</p>
            <p class="about-slider-pagination-item-title">Отримує SMS з купоном</p>
          </div>
          <div class="about-slider-pagination-item">
            <p class="about-slider-pagination-item-number">04</p>
            <p class="about-slider-pagination-item-title">Відвідує магазин і отримує товар</p>
          </div> -->
        </div>
      </div>
      <div class="about-slider-bg">
        <div class="about-slider-wrap">
          <div class="swiper about-slider js-about-slider">
            <div class="swiper-wrapper about-slider-wrapper">
              <div class="swiper-slide about-slider-slide">
                <div class="about-slider-slide-wrap">
                  <img class="about-slider-slide-img" src="/images/about/step-1.png" alt="Опис як це працює" />
                </div>
              </div>
              <div class="swiper-slide about-slider-slide">
                <div class="about-slider-slide-wrap">
                  <img class="about-slider-slide-img" src="/images/about/step-2.png" alt="Опис як це працює" />
                </div>
              </div>
              <div class="swiper-slide about-slider-slide">
                <div class="about-slider-slide-wrap">
                  <img class="about-slider-slide-img" src="/images/about/step-3.png" alt="Опис як це працює" />
                </div>
              </div>
              <div class="swiper-slide about-slider-slide">
                <div class="about-slider-slide-wrap">
                  <img class="about-slider-slide-img" src="/images/about/step-4.png" alt="Опис як це працює" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
