<section class="contacts-section">
  <div class="container contacts-container">
    <h2 class="hidden-element">Контакти</h2>
    <div class="contacts-sections">
      <div class="contacts-info">
        <img class="contacts-info-decorative-img card-80-off mobile" src="/images/contacts/card-80-off-mobile.png" alt="декоративне зображення секції" />
        <img class="contacts-info-decorative-img card-barcode mobile" src="/images/contacts/card-barcode-mobile.png" alt="декоративне зображення секції" />
        <img class="contacts-info-decorative-img card-80-off desk" src="/images/contacts/card-80-off-desk.png" alt="декоративне зображення секції" />
        <img class="contacts-info-decorative-img card-barcode desk" src="/images/contacts/card-barcode-desk.png" alt="декоративне зображення секції" />
        <img class="contacts-info-decorative-img card-90-off desk" src="/images/contacts/card-90-off-desk.png" alt="декоративне зображення секції" />
        <p class="contacts-info-title">Контакти</p>
        <address class="contacts-address-list">
          <div class="contacts-address-list-item">
            <a href="https://maps.app.goo.gl/aLCc2u7L2kyq2Pr26" target="_blank" rel="noopener noreferrer nofollow" class="contacts-address">м. Київ, вул. Верхній Вал, 28</a>
          </div>
          <div class="contacts-address-list-item"><a href="mailto:hello@poseidon.net.ua" class="contacts-address email">hello@poseidon.net.ua</a></div>
          <div class="contacts-address-list-item phone">
            <div class="contacts-address-phones-wrap">
              <a href="tel:+380503109400" class="contacts-address">+38 050 310 9400</a>
              <a href="tel:+380683578733" class="contacts-address">+38 068 357 8733</a>
            </div>
          </div>
        </address>
      </div>
      <div class="contacts-us">
        <form class="contacts-us-form">
          <div class="contacts-us-form-inputs-wrap">
            <select name="theme" class="contacts-us-form-input">
              <option value="">Оберіть тему</option>
              <option value="theme1">Тема 1</option>
              <option value="theme2">Тема 2</option>
              <option value="theme3">Тема 3</option>
            </select>
            <label class="contacts-us-form-input-label">
              <input class="contacts-us-form-input" type="text" name="name" placeholder=" " required />
              <span class="contacts-us-form-input-title">Ім&#8217;я</span>
            </label>
            <label class="contacts-us-form-input-label">
              <input class="contacts-us-form-input" type="email" name="email" placeholder=" " required />
              <span class="contacts-us-form-input-title">Email</span>
            </label>
            <label class="contacts-us-form-input-label">
              <input class="contacts-us-form-input" type="text" name="company" placeholder=" " required />
              <span class="contacts-us-form-input-title">Назва компанії</span>
            </label>
          </div>
          <label class="contacts-us-form-input-label message">
            <textarea class="contacts-us-form-input message" name="message" placeholder=" " required></textarea>
            <span class="contacts-us-form-input-title message">Повідомлення</span>
          </label>
          <button class="contacts-us-form-submit-btn" type="submit">Написати нам</button>
        </form>
      </div>
    </div>
  </div>
</section>
