<section class="coverage-section" id="coverage">
  <div class="coverage-bg">
    <img class="coverage-circles-bg" src="/images/coverage/circles-bg.png" alt="декоративне зображення" />
    <div class="coverage-gradient-top-bg"></div>
    <div class="coverage-gradient-bg"></div>
    <img class="coverage-map-bg" src="/images/coverage/map.png" alt="декоративне зображення мапи" />
    <div class="container coverage-container">
      <h2 class="coverage-title">Покриття та мережі</h2>
      <ul class="coverage-clients-list">
        <li class="coverage-clients-list-item silpo">
          <div class="coverage-client-wrap silpo">
            <svg class="coverage-client-icon silpo">
              <use href="/icons/icons.svg#silpo"></use>
            </svg>
          </div>
        </li>
        <li class="coverage-clients-list-item atb">
          <div class="coverage-client-wrap atb">
            <svg class="coverage-client-icon atb">
              <use href="/icons/icons.svg#atb"></use>
            </svg>
          </div>
        </li>
        <li class="coverage-clients-list-item varus">
          <div class="coverage-client-wrap varus">
            <svg class="coverage-client-icon varus">
              <use href="/icons/icons.svg#varus"></use>
            </svg>
          </div>
        </li>
        <li class="coverage-clients-list-item delikat">
          <div class="coverage-client-wrap delikat">
            <svg class="coverage-client-icon delikat">
              <use href="/icons/icons.svg#delikat"></use>
            </svg>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
