<footer class="footer-section">
  <div class="container footer-container">
    <div class="footer-nav-links">
      <a href="/" class="footer-logo-link">
        <svg class="footer-logo-link-icon">
          <use href="/icons/icons.svg#poseidon-logo"></use>
        </svg>
      </a>
      <ul class="footer-nav-links-list">
        <li class="footer-nav-links-list-item">
          <a href="/" target="_blank" rel="noopener noreferrer nofollow" class="footer-nav-link">Покупцям</a>
        </li>
        <li class="footer-nav-links-list-item">
          <a href="/" target="_blank" rel="noopener noreferrer nofollow" class="footer-nav-link">Торговим мережам</a>
        </li>
        <li class="footer-nav-links-list-item">
          <a href="/" target="_blank" rel="noopener noreferrer nofollow" class="footer-nav-link">Публічна оферта</a>
        </li>
      </ul>
    </div>
    <p class="footer-copyright">© Poseidon 2024</p>
  </div>
</footer>
