<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">Нові можливості для<br />ефективних <span class="hero-title-accent">рекламних кампаній</span></h1>
    <p class="hero-desc">Сервіс який за допомогою купонів приводить покупців в ваш магазин.</p>
    <div class="hero-info-wrap">
      <div class="hero-info-statistics"></div>
      <div class="hero-info-desc-wrap">
        <p class="hero-info-desc">*Ще це круті ракети але ми про це дізнались вже після запуску нашого сервісу.</p>
      </div>
    </div>
  </div>
</section>
