<section class="product-value-section">
  <div class="container product-value-container">
    <h2 class="product-value-title">Цінність продукту</h2>
    <ul class="product-value-cards-list">
      <li class="product-value-cards-list-item">
        <div class="product-value-card traffic">
          <div class="product-value-card-icons-wrap traffic">
            <svg class="product-value-card-traffic-icon">
              <use href="/icons/icons.svg#traffic"></use>
            </svg>
            <div class="product-value-card-progress-icon-wrap">
              <svg class="product-value-card-progress-icon start">
                <use href="/icons/icons.svg#progress-start"></use>
              </svg>
              <svg class="product-value-card-progress-icon end">
                <use href="/icons/icons.svg#progress-end"></use>
              </svg>
            </div>
          </div>
          <div class="product-value-card-benefits-list-wrap">
            <p class="product-value-card-benefits-list-title">Для торгових мереж</p>
            <ul class="product-value-card-benefits-list">
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Додатковий трафік і лояльність покупців</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="product-value-cards-list-item">
        <div class="product-value-card benefits">
          <div class="product-value-card-icons-wrap benefits">
            <div class="product-value-card-percent-icon-wrap">
              <svg class="product-value-card-percent-icon">
                <use href="/icons/icons.svg#percent"></use>
              </svg>
              <div class="product-value-card-percent-text-container">
                <div class="product-value-card-percent-text-wrap end">
                  <p class="product-value-card-percent-text end">-80₴</p>
                </div>
                <div class="product-value-card-percent-text-wrap start">
                  <p class="product-value-card-percent-text start">-50₴</p>
                </div>
              </div>
            </div>
            <div class="product-value-card-present-icon-wrap">
              <svg class="product-value-card-present-icon">
                <use href="/icons/icons.svg#present"></use>
              </svg>
            </div>
          </div>
          <div class="product-value-card-benefits-list-wrap">
            <p class="product-value-card-benefits-list-title">Для покупців</p>
            <ul class="product-value-card-benefits-list">
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Знижки на товари в улюблених магазинах</p>
              </li>
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Доступ до ексклюзивних акцій та пропозицій</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="product-value-cards-list-item">
        <div class="product-value-card result">
          <div class="product-value-card-graph-icon-wrap">
            <img class="product-value-card-graph-icon" src="/icons/product-value/graph.svg" alt="графік" />
            <div class="product-value-card-graph-marker"></div>
            <div class="product-value-card-box-icon-wrap">
              <svg class="product-value-card-box-icon">
                <use href="/icons/icons.svg#box"></use>
              </svg>
            </div>
          </div>
          <div class="product-value-card-benefits-list-wrap">
            <p lass="product-value-card-benefits-list-title">Для постачальників та брендів</p>
            <ul class="product-value-card-benefits-list">
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Проведення промо-кампаній на національному рівні</p>
              </li>
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Семпл-промо на цільову аудиторію</p>
              </li>
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Можливість зворотного звʼязку</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
