<section class="product-value-section" id="product-value">
  <div class="container product-value-container">
    <h2 class="product-value-title">Цінність продукту</h2>
    <ul class="product-value-cards-list">
      <li class="product-value-cards-list-item">
        <div class="product-value-card traffic js-product-value-card">
          <img class="product-value-circles-bg traffic" src="/images/product-value/circles-bg.png" alt="декоративний фон картки" />
          <div class="product-value-card-traffic-icon-wrap" data-aos="fade-up-left">
            <svg class="product-value-card-traffic-icon">
              <use href="/icons/icons.svg#traffic"></use>
            </svg>
          </div>
          <div class="product-value-card-progress-animation-wrap" data-aos="fade-up-right">
            <lottie-player mode="normal" src="/animations/progress.json" class="product-value-card-progress-animation"></lottie-player>
          </div>
          <div class="product-value-card-benefits-list-wrap">
            <p class="product-value-card-benefits-list-title">Для торгових мереж</p>
            <ul class="product-value-card-benefits-list">
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Додатковий трафік і лояльність покупців</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="product-value-cards-list-item">
        <div class="product-value-card benefits">
          <img class="product-value-circles-bg benefits" src="/images/product-value/circles-bg.png" alt="декоративний фон картки" />
          <div class="product-value-card-percent-icon-container" data-aos="fade-up-right">
            <div class="product-value-card-percent-icon-wrap">
              <svg class="product-value-card-percent-icon">
                <use href="/icons/icons.svg#percent"></use>
              </svg>
              <div class="product-value-card-percent-text-container">
                <div class="product-value-card-percent-text-wrap end">
                  <p class="product-value-card-percent-text end">-80₴</p>
                </div>
                <div class="product-value-card-percent-text-wrap start">
                  <p class="product-value-card-percent-text start">-50₴</p>
                </div>
              </div>
            </div>
          </div>
          <div class="product-value-card-present-icon-container" data-aos="fade-up-left">
            <div class="product-value-card-present-icon-wrap">
              <svg class="product-value-card-present-icon">
                <use href="/icons/icons.svg#present"></use>
              </svg>
            </div>
          </div>
          <div class="product-value-card-benefits-list-wrap">
            <p class="product-value-card-benefits-list-title">Для покупців</p>
            <ul class="product-value-card-benefits-list">
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Знижки на товари в улюблених магазинах</p>
              </li>
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Доступ до ексклюзивних акцій та пропозицій</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="product-value-cards-list-item">
        <div class="product-value-card result js-product-value-card">
          <img class="product-value-circles-bg result" src="/images/product-value/circles-bg.png" alt="декоративний фон картки" />
          <div class="product-value-card-graph-animation-wrap" data-aos="fade-up-right">
            <lottie-player mode="normal" src="/animations/graph.json" class="product-value-card-graph-animation"></lottie-player>
          </div>
          <div class="product-value-card-box-icon-container" data-aos="fade-up-left">
            <div class="product-value-card-box-icon-wrap">
              <svg class="product-value-card-box-icon">
                <use href="/icons/icons.svg#box"></use>
              </svg>
            </div>
          </div>
          <div class="product-value-card-benefits-list-wrap">
            <p lass="product-value-card-benefits-list-title">Для постачальників та брендів</p>
            <ul class="product-value-card-benefits-list">
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Проведення промо-кампаній на національному рівні</p>
              </li>
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Семпл-промо на цільову аудиторію</p>
              </li>
              <li class="product-value-card-benefits-list-item">
                <p class="product-value-card-benefits-item-text">Можливість зворотного звʼязку</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
