<section class="reviews-section" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Наші кліенти про нас</h2>
    <div class="swiper reviews-slider js-reviews-slider">
      <div class="swiper-wrapper reviews-slider-wrapper">
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Команда відзначається не лише високою ефективністю своєї роботи, але і великим професіоналізмом та відповідальністю. Дякуємо за надійну підтримку та відмінні результати!"
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-info-wrap">
                <div class="reviews-slide-user-avatar-wrap">
                  <img src="/images/reviews/svitlana.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
                </div>
                <div class="reviews-slide-user-text-wrap">
                  <p class="reviews-slide-user-name">Світлана</p>
                  <p class="reviews-slide-user-job-title">Власниця</p>
                </div>
              </div>
              <svg class="reviews-slider-shop-icon">
                <use href="/icons/icons.svg#wine-bureau"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Працювати з агенцією одне задоволення! Завжди враховуєте наші потреби та індивідуальні особливості.Ви - справжні професіонали своєї справи, і я раджу вашу команду всім своїм колегам!
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-info-wrap">
                <div class="reviews-slide-user-avatar-wrap">
                  <img src="/images/reviews/mykhaylo.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
                </div>
                <div class="reviews-slide-user-text-wrap">
                  <p class="reviews-slide-user-name">Михайло</p>
                  <p class="reviews-slide-user-job-title">Менеджер</p>
                </div>
              </div>
              <svg class="reviews-slider-shop-icon">
                <use href="/icons/icons.svg#wine-bureau"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Робота з вашою командою - це просто задоволення! Ви професіонали у своїй справі, завдяки вам ми змогли реалізувати нашу ідею рекламних кампаній та досягти вражаючих результатів.
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-info-wrap">
                <div class="reviews-slide-user-avatar-wrap">
                  <img src="/images/reviews/iryna.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
                </div>
                <div class="reviews-slide-user-text-wrap">
                  <p class="reviews-slide-user-name">Ірина</p>
                  <p class="reviews-slide-user-job-title">Директор маркетингу</p>
                </div>
              </div>
              <svg class="reviews-slider-shop-icon">
                <use href="/icons/icons.svg#wine-bureau"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Команда відзначається не лише високою ефективністю своєї роботи, але і великим професіоналізмом та відповідальністю. Дякуємо за надійну підтримку та відмінні результати!"
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-info-wrap">
                <div class="reviews-slide-user-avatar-wrap">
                  <img src="/images/reviews/andriy.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
                </div>
                <div class="reviews-slide-user-text-wrap">
                  <p class="reviews-slide-user-name">Андрій</p>
                  <p class="reviews-slide-user-job-title">Маркетолог</p>
                </div>
              </div>
              <svg class="reviews-slider-shop-icon">
                <use href="/icons/icons.svg#wine-bureau"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Команда відзначається не лише високою ефективністю своєї роботи, але і великим професіоналізмом та відповідальністю. Дякуємо за надійну підтримку та відмінні результати!"
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-info-wrap">
                <div class="reviews-slide-user-avatar-wrap">
                  <img src="/images/reviews/svitlana.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
                </div>
                <div class="reviews-slide-user-text-wrap">
                  <p class="reviews-slide-user-name">Світлана</p>
                  <p class="reviews-slide-user-job-title">Власниця</p>
                </div>
              </div>
              <svg class="reviews-slider-shop-icon">
                <use href="/icons/icons.svg#wine-bureau"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Працювати з агенцією одне задоволення! Завжди враховуєте наші потреби та індивідуальні особливості.Ви - справжні професіонали своєї справи, і я раджу вашу команду всім своїм колегам!
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-info-wrap">
                <div class="reviews-slide-user-avatar-wrap">
                  <img src="/images/reviews/mykhaylo.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
                </div>
                <div class="reviews-slide-user-text-wrap">
                  <p class="reviews-slide-user-name">Михайло</p>
                  <p class="reviews-slide-user-job-title">Менеджер</p>
                </div>
              </div>
              <svg class="reviews-slider-shop-icon">
                <use href="/icons/icons.svg#wine-bureau"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Робота з вашою командою - це просто задоволення! Ви професіонали у своїй справі, завдяки вам ми змогли реалізувати нашу ідею рекламних кампаній та досягти вражаючих результатів.
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-info-wrap">
                <div class="reviews-slide-user-avatar-wrap">
                  <img src="/images/reviews/iryna.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
                </div>
                <div class="reviews-slide-user-text-wrap">
                  <p class="reviews-slide-user-name">Ірина</p>
                  <p class="reviews-slide-user-job-title">Директор маркетингу</p>
                </div>
              </div>
              <svg class="reviews-slider-shop-icon">
                <use href="/icons/icons.svg#wine-bureau"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews-slider-slide">
          <div class="reviews-slide-wrap">
            <p class="reviews-slide-text">
              Команда відзначається не лише високою ефективністю своєї роботи, але і великим професіоналізмом та відповідальністю. Дякуємо за надійну підтримку та відмінні результати!"
            </p>
            <div class="reviews-slide-user-info">
              <div class="reviews-slide-user-info-wrap">
                <div class="reviews-slide-user-avatar-wrap">
                  <img src="/images/reviews/andriy.jpg" alt="аватар користувача" class="reviews-slide-user-avatar" />
                </div>
                <div class="reviews-slide-user-text-wrap">
                  <p class="reviews-slide-user-name">Андрій</p>
                  <p class="reviews-slide-user-job-title">Маркетолог</p>
                </div>
              </div>
              <svg class="reviews-slider-shop-icon">
                <use href="/icons/icons.svg#wine-bureau"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-slider-blur start"></div>
      <div class="reviews-slider-blur end"></div>
    </div>
    <div class="reviews-slider-controls-wrap">
      <button type="button" class="reviews-slider-btn prev js-reviews-slider-btn-prev">
        <svg class="reviews-slider-btn-icon prev">
          <use href="/icons/icons.svg#slider-nav-arrow"></use>
        </svg>
      </button>
      <button type="button" class="reviews-slider-btn next js-reviews-slider-btn-next">
        <svg class="reviews-slider-btn-icon next">
          <use href="/icons/icons.svg#slider-nav-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
