.product-value-section {
  padding-top: 40px;
  padding-bottom: 32px;
  background-image: linear-gradient(180deg, rgb(244, 246, 249), rgb(255, 255, 255) 6.405%);
}

.product-value-title {
  color: #2f3037;
  font-family: Geologica;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.product-value-cards-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.product-value-cards-list-item {
}

.product-value-card {
  border: 1px solid #e3eef9;
  border-radius: 20px;
  background-color: #f4f6f9;
  padding: 32px 24px;
}

.product-value-card.traffic {
  padding-top: 63px;
}

.product-value-card.benefits {
  padding-top: 40px;
}

.product-value-card.result {
  padding-top: 67px;
}

.product-value-card-icons-wrap {
  position: relative;
}

.product-value-card-traffic-icon {
  display: block;
  width: 208px;
  height: 126px;
  margin-left: 80px;
}

.product-value-card-progress-icon-wrap {
  position: absolute;
  top: 22px;
  left: 3px;
  width: 79px;
  height: 79px;
  border: 0.44px solid #e3eef9;
  border-radius: 17.62px;
  backdrop-filter: blur(3.52px);
  background-color: var(--white-color);
  transform: rotate(-19.93deg);
}

.product-value-card-progress-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 52px;
  height: 40px;
  transition: opacity var(--transition-duration-and-func);
  transform: translateX(-50%) translateY(-50%);
}

.product-value-card-progress-icon.end {
  opacity: 0;
}

.product-value-card.traffic:is(:hover, :focus) .product-value-card-progress-icon.start {
  opacity: 0;
}

.product-value-card.traffic:is(:hover, :focus) .product-value-card-progress-icon.end {
  opacity: 1;
}

.product-value-card-benefits-list-wrap {
  margin-top: 32px;
}

.product-value-card-benefits-list-title {
  color: #2f3037;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.product-value-card-benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.product-value-card-benefits-item-text {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #7e8494;
  font-family: Geologica;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}

.product-value-card-benefits-item-text::before {
  flex-shrink: 0;
  content: '';
  width: 4px;
  height: 4px;
  background-color: #4289fe;
  border-radius: 50%;
}

.product-value-card-percent-icon-wrap {
  transform: rotate(4.24deg);
}

.product-value-card-percent-icon {
  display: block;
  width: 258px;
  height: 123px;
  margin-left: 37px;
}

.product-value-card-percent-text-container {
  position: absolute;
  top: 54px;
  left: 218px;
  width: 46px;
  height: 46px;
  overflow: hidden;
}

.product-value-card-percent-text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: transform var(--transition-duration-and-func);
}

.product-value-card-percent-text {
  color: var(--white-color);
  font-family: Geologica;
  font-size: 13.44px;
  font-weight: 700;
  line-height: 1.4;
}

.product-value-card-percent-text-wrap.end {
  transform: translateY(-100%);
}

.product-value-card.benefits:is(:hover, :focus) .product-value-card-percent-text-wrap.start {
  transform: translateY(100%);
}

.product-value-card.benefits:is(:hover, :focus) .product-value-card-percent-text-wrap.end {
  transform: translateY(0%);
}

.product-value-card-present-icon-wrap {
  position: absolute;
  top: 80px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border: 0.5px solid #e3eef9;
  border-radius: 20px;
  backdrop-filter: blur(4px);
  background-color: #4289fe;
  transform: rotate(-15deg);
}

.product-value-card-present-icon {
  width: 28px;
  height: 28px;
}

.product-value-card-graph-icon-wrap {
  position: relative;
  margin-right: 16px;
  transform: rotate(-6.6deg);
}

.product-value-card-graph-icon {
  display: block;
  width: 211px;
  height: 117px;
}

.product-value-card-graph-marker {
  position: absolute;
  top: 69px;
  left: 111px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid var(--white-color);
  background-image: linear-gradient(236.31deg, rgb(54, 111, 255) -58.506%, rgb(89, 188, 251) 134.237%);
}

.product-value-card.result:is(:hover, :focus) .product-value-card-graph-marker {
  animation: marker-move 2s linear forwards;
}

.product-value-card-box-icon-wrap {
  position: absolute;
  top: 25px;
  left: 209px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 20px;
  backdrop-filter: blur(5.44px);
  background-image: linear-gradient(236.31deg, rgb(54, 111, 255) -58.506%, rgb(89, 188, 251) 134.237%);
  transform: rotate(17.26deg);
}

.product-value-card-box-icon {
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 1440px) {
  .product-value-section {
    padding-top: 80px;
    padding-bottom: 96px;
  }

  .product-value-title {
    font-size: 32px;
    text-align: left;
  }
}

@keyframes marker-move {
  0% {
  }
  50% {
    transform: translateX(16px) translateY(-14px);
  }
  100% {
    transform: translateX(34px) translateY(-24px);
  }
}
