.reviews-section {
  padding-top: 32px;
  padding-bottom: 29px;
  background-color: #f4f6f9;
}

.reviews-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.reviews-title {
  color: #2f3037;
  font-family: Geologica;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.reviews-slider {
  width: 100%;
  margin-top: 34px;
}

.reviews-slide-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 222px;
  padding: 24px;
  border: 1px solid var(--white-color);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

.reviews-slide-text {
  color: #7e8494;
  font-family: Geologica;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

.reviews-slide-user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews-slide-user-info-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reviews-slide-user-avatar-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews-slide-user-avatar {
  display: block;
  object-fit: cover;
}

.reviews-slide-user-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews-slide-user-name {
  color: #2f3037;
  font-family: Geologica;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.reviews-slide-user-job-title {
  color: #7e8494;
  font-family: Geologica;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

.reviews-slider-shop-icon {
  width: 65px;
  height: 21px;
}

.reviews-slider-controls-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 343px;
  margin-top: 25px;
}

.reviews-slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: 1px solid var(--white-color);
  border-radius: 250%;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.4);
}

.reviews-slider-btn-icon {
  width: 24px;
  height: 24px;
}

.reviews-slider-btn-icon.next {
  transform: rotate(180deg);
}

@media screen and (min-width: 1440px) {
  .reviews-section {
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .reviews-container {
    width: 1440px;
  }

  .reviews-title {
    align-self: flex-start;
    margin-left: 120px;
    font-size: 32px;
    text-align: left;
  }

  .reviews-slider {
    position: relative;
    margin-top: 55px;
  }

  .reviews-slider-blur {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 208px;
    height: 100%;
    background-size: 208px 100%;
    background-repeat: no-repeat;
  }

  .reviews-slider-blur.start {
    left: 0;
    background-image: linear-gradient(90deg, #f4f6f9, rgba(244, 246, 249, 0) 100%);
  }

  .reviews-slider-blur.end {
    right: 0;
    background-image: linear-gradient(90deg, rgba(244, 246, 249, 0), #f4f6f9 100%);
  }

  .reviews-slide-wrap {
    height: 238px;
    padding: 32px;
  }

  .reviews-slider-controls-wrap {
    position: absolute;
    top: -5px;
    right: 120px;
    width: 104px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 1439px) {
  .reviews-slider-blur {
    display: none;
  }
}
